@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Tourney:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  border: none;
}
body{
  font-family: tourney, sans-serif;
  background: url("../images/game-background.jpg")center center / cover no-repeat black;
  color: rgb(199, 30, 241);
}
h1{
  text-align: center;
  padding-top: 20px;
  color: #14e91f;
}
nav a{
  color: rgb(204, 194, 57);
  margin-left: 5%;
  font-size: 2rem;
  padding:5px;
  border-radius: 10px;
}
#game{
  height: 300px;
  text-align: center;
}
#left-console{
  padding-top: 30px;
  width: 33%;
  height: 80%;
  float: left;
}
#right-console{
  padding-top: 30px;
  width: 33%;
  height: 80%;
  float: right;
}
#center-console{
  width: 33%;
  height: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
#center-console div{
  height: 33.3%;
  line-height: 75px;
  font-size: 3rem;
}
#wins, #loses{
  height: 25%;
  line-height: 60px;
  font-size: 1rem;
}
#score{
  height: 50%;
  line-height: 120px;
  font-size: 2rem;
}
.level{
  height: 100%;
  line-height: 50px;
}
#level-number{
  font-size: 5rem;
}
.controls{
  height: 200px;
}
.user{
  height: 50%;
  width: 15%;
  margin: 50px 0 50px 4%;
  border-radius: 20px;
  background-color: transparent;
  color: rgb(204, 194, 57);
  font-size: 2rem;
  font-family:  tourney, sans-serif;
}
.user:hover, nav a:hover{
  background-color: rgba(230, 83, 149, 0.38);
}