@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Tourney:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  border: none;
}
body{
  font-family: tourney, sans-serif;
  background: url("../images/game-background.jpg")center center / cover no-repeat black;
  color: rgb(199, 30, 241);
}
h1{
  text-align: center;
  padding-top: 20px;
  color: #14e91f;
  font-size: 2.5rem;
  text-decoration: underline dotted;
}
nav a{
  color: rgb(204, 194, 57);
  margin-left: 5%;
  font-size: 2rem;
  padding:5px;
  border-radius: 10px;
}
#game{
  height: 300px;
  text-align: center;
}
#left-console{
  padding-top: 30px;
  width: 33%;
  height: 80%;
  float: left;
  text-shadow:1px 1px rgb(207, 205, 41);
}
#right-console{
  padding-top: 30px;
  width: 33%;
  height: 80%;
  float: right;
  text-shadow:1px 1px rgb(207, 205, 41);
}
#center-console{
  width: 33%;
  height: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
#center-console div, #center-console button{
  height: 33.3%;
  line-height: 75px;
  font-size: 3rem;
  font-family: tourney, sans-serif;
}
#wins, #loses{
  height: 25%;
  line-height: 60px;
  font-size: 1rem;
}
#score{
  height: 50%;
  line-height: 120px;
  font-size: 2rem;
}
#play-again{
  background-color: transparent;
  font-size: 3rem;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(204, 194, 57);
}
.level{
  height: 100%;
  line-height: 50px;
}
#level-number{
  font-size: 5rem;
}
#controls{
  height: 200px;
  width: 100%;
  text-align: center;
}
#controls button:disabled{
  color: rgb(204, 194, 57, 0.4);

}
#controls button:disabled:hover{
  background-color: transparent;
  cursor:auto;
}
#controls button{
  height: 50%;
  width: 15%;
  margin: 50px 0 50px 4%;
  border-radius: 20px;
  background-color: transparent;
  color: rgb(204, 194, 57);
  font-size: 2rem;
  font-family:  tourney, sans-serif;
  cursor: pointer;
}
#controls button:hover, nav a:hover, .start-game:hover, #rules:hover, #close:hover{
  background-color: rgba(230, 83, 149, 0.38);
}
.menu{
  height: 400px;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}
.start-game{
  font-size: 3rem;
  height: 50px;
  width: 50%;
  margin-left: 25%;
  padding:20px;
  display: block;
  color: rgb(204, 194, 57);
  border-radius: 10px;
}
#rules{
  height:60px;
  width: 20%;
  font-size: 2rem;
  color: rgb(204, 194, 57);
  font-family: tourney, sans-serif;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}
#rule-list{
  height: 150px;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
  padding:10px;
  border-radius: 10px;
  font-family: source sans pro;
  font-size: 1.5rem;
  line-height: 30px;
  color: rgb(204, 194, 57);
  background-color:  rgba(230, 83, 149, 0.38);
  visibility: hidden;
}
@media screen and (max-width: 1000px){
  #center-console{
    height: 60%;
    width: 60%;
  }
  #left-console, #right-console{
    height: 60%;
    width: 20%;
  }
  #controls button{
    margin: 0;
    width: 19%;
    height: 25%;
    padding: 0;
    font-size: 1.5rem;
  }
  nav{
    margin-top: 20px;
  }
  #rule-list{
    height: 200px;
  }
}
