@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Tourney:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  border: none;
}
body{
  font-family: tourney, sans-serif;
  background: url("../images/game-background.jpg")center center / cover no-repeat black;
  color: rgb(199, 30, 241);
  height: 100%;
}
h1{
  text-align: center;
  padding-top: 20px;
  color: #14e91f;
  font-size: 2.5rem;
  text-decoration: underline dotted;
}
nav a{
  color: rgb(204, 194, 57);
  margin-left: 5%;
  font-size: 2rem;
  padding:5px;
  border-radius: 10px;
}
#game{
  height: 300px;
  text-align: center;
}
#left-console, #right-console, #center-console{
  padding-top: 30px;
  width: 33%;
  height: 80%;
  float: left;
  text-shadow:1px 1px rgb(207, 205, 41);
}
#right-console{
  float: right;
}
#center-console{
  margin: 0 auto;
}
#center-console div, #center-console button{
  height: 33.3%;
  line-height: 75px;
  font-size: 3rem;
  font-family: tourney, sans-serif;
}
#user{
  color: rgb(204, 194, 57);
  text-shadow:1px 1px rgb(199, 30, 241);
}
#wins, #loses{
  height: 25%;
  line-height: 60px;
  font-size: 1.5rem;
}
#score{
  height: 50%;
  line-height: 120px;
  font-size: 2rem;
}
#play-again{
  background-color: transparent;
  font-size: 3rem;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(204, 194, 57);
}
.level{
  height: 100%;
  line-height: 50px;
}
#level-number{
  font-size: 5rem;
}
#controls{
  height: 200px;
  width: 100%;
  text-align: center;
}
#controls button:disabled{
  color: rgb(204, 194, 57, 0.4);
}
#controls button:disabled:hover{
  background-color: transparent;
  cursor:auto;
}
#controls button{
  height: 50%;
  width: 15%;
  margin: 50px 0 50px 4%;
  border-radius: 20px;
  background-color: transparent;
  color: rgb(204, 194, 57);
  font-size: 2rem;
  font-family:  tourney, sans-serif;
  cursor: pointer;
}
#controls button:hover, nav a:hover, .start-game:hover, #rules:hover, #close:hover{
  background-color: rgba(230, 83, 149, 0.38);
}
.menu{
  height: 400px;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}
.menu *{
  padding:10px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  color: rgb(204, 194, 57);
}
.start-game{
  font-size: 3rem;
  height: 50px;
  width: 33%;
  margin-left: 33%;
  font-family: tourney, sans-serif;
}
#rules{
  height:60px;
  width: 20%;
  margin-left: 40%;
  font-size: 2rem;
  background-color: transparent;
  font-family: tourney, sans-serif;
}
#rule-list{
  height: 150px;
  width: 90%;
  margin-left: 5%;
  font-family: source sans pro;
  font-size: 1.5rem;
  line-height: 20px;
  background-color:  rgba(230, 83, 149, 0.38);
  visibility: hidden;
}
.error{
  width: 80%;
  margin-left: 10%;
  text-align: center;
  font-size: 2rem;
}
@media screen and (min-width: 1500px){
  #start-game, h1{
    font-size: 4rem;
  }
  #rules{
    font-size: 3rem;
  }
  .menu{
    width: 60%;
    margin-left: 20%;
  }
  #rule-list{
    height: 100%;
    font-size: 2.5rem;
    line-height: 40px;
  }
  #game{
    height:800px;
  }
  h1, nav a, #center-console div, #center-console button,  #left-console div, #right-console h2, #right-console h3, #right-console div, #controls button{
    font-size: 4rem;
  }
  #left-console h3{
    padding-top: 50px;
  }
}
@media screen and (max-width: 1000px){
  #center-console{
    height: 60%;
    width: 60%;
  }
  #left-console, #right-console{
    height: 60%;
    width: 20%;
  }
  #controls button{
    margin: 0;
    width: 19%;
    height: 25%;
    padding: 0;
    font-size: 1.5rem;
  }
  nav{
    margin-top: 20px;
  }
  #rule-list{
    height: 200px;
  }
}
@media screen and (max-width: 750px){
  #game{
    height:180px;
  }
  .heading{
    font-size: 1.5rem;
  }
  #center-console, #center-console button, #left-console, #right-console, #controls button{
    display: block;
    width: 100%;
  }
  #center-console{
    height: 40%;
    padding-top: 0;
  }
  #center-console div{
    display: inline-block;
    font-size: 1.5rem;
  }
  #center-console button{
    height: 10%;
    font-size: 2rem;
  }
  #computer{
    float: left;
    width: 40%;
  }
  #user{
    float: right;
    width: 40%;
  }
  #result{
    width: 20%;
  }
  #left-console, #right-console{
    height: 20%;
    padding-top: 0;
  }
  #right-console div, #right-console h2, #right-console h3, .level h2, .level h3{
    display: inline-block;
    padding: 0;
    line-height: 40px;
    width: 15%;
    font-size: 1.5rem;
  }
  #level-number{
    font-size: 2rem;
  }
 .start-game{
   width: 60%;
   margin: 0 20%;
 }
  #rule-list{
    height: 300px;
    line-height: 30px;
  }
  #controls{
    height: 100%;
  }
  #controls button{
    text-align: center;
    line-height: 35px;
  }
}
@media screen and (max-width: 500px){
  .start-game, #rule-list{
    width:80%;
    margin-left: 10%;
  }
  #rules{
    width: 60%;
    margin-left: 20%;
  }
  #rule-list{
    font-size: 1rem;
    height: 300px;
    line-height: 20px;
  }
  #right-console h2, #right-console h3{
    font-size: 1.2rem;
  }
  #center-console div{
    font-size: 1.3rem;
  }
}
